table.enquiries {
  border-collapse: separate;
  border-spacing: 2px;
  margin-top: 24px;

  tr {
    td:first-child {
      padding-left: 16px;
      border-left-width: 4px;
      border-left-style: solid;
      border-left-color: red;
      strong { font-weight: normal; }
    }
    &.new td {
      a { color: #559ae7; }
      &:first-child {
        strong { font-weight: bold; }
        border-left-color: #559ae7;
      }
    }
    &.done td {
      a { color: #a8de90; }
      &:first-child { border-left-color: #a8de90; }
    }
    &.invalid td {
      a { color: #ee6155; }
      &:first-child { border-left-color: #ee6155; }
    }
    &.expired td {
      a { color: #ef9b3f; }
      &:first-child { border-left-color: #ef9b3f; }
    }
    &.junk td {
      a { color: #a0abcc; }
      &:first-child { border-left-color: #b5bed8; }
    }
  }
}

div.enquiry-details {
  div.back-link-container { margin-bottom: 24px; }
  dl {
    dt { font-weight: bold; }
    dd {
      margin: 0 0 10px 0;
      &.message {
        font-size: 1.2em;
        font-style: italic;
        padding: 24px 0;
      }
    }
  }
}