<div class="row">
  <div class="eight columns">
    <h4>Customer Enquiries</h4>
  </div>
  <div class="four columns">
    <%= link_to 'Check for new enquiries', load_enquiries_path, class: "button button-primary u-pull-right" %>
  </div>
</div>

<table class="enquiries u-full-width">
  <tbody>
    <%= render @enquiries %>
  </tbody>
</table>